/* Mobile-first: Align image to the left */
.project-image {
  width: 100%;
  object-fit: cover;
  float: left; /* Default to left alignment */
  padding-bottom: 10px;
}

/* Use a media query to target larger screens */
@media (min-width: 768px) { /* Assuming 768px is the breakpoint for md in your Bootstrap version */
  .project-image {
    float: right;
    padding-right: 10px;
    padding-bottom: 50px;
  }
}

.project-info {
  padding-left: 14px;
}

/* Apply Roboto font to the entire body */
body {
  font-family: 'Roboto', sans-serif;
}
